services:
  educate:
    build:
      context: ./src/services/educate
    restart: always
    env_file:
      - .env.example
    container_name: educate
    ports:
      - 8080:8080
    links:
      - "mongo:mongodb"
      - "django:django"
    depends_on:
      - mongo
    volumes:
      - data:/django

  django:
    build:
      context: ./src/backend/
    container_name: django
    restart: always
    env_file:
      - .env.example
    ports:
      - 8000:8000

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - 27017:27017
    volumes:
      - data:/mongo

  frontend:
    build:
      context: ./src/frontend
    container_name: frontend
    restart: always
    ports:
      - 3000:3000

  postgres:
    image: postgres:13.3
    env_file:
      - .env.example
    ports:
      - "5432:5432"
    volumes:
      - data:/postgres

volumes:
  data:
