.companyTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.name {
    font-size: 24px;
    margin-bottom: 5px;
}

.description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}

.joinDate {
    font-size: 14px;
    color: gray;
}


.logoInput {
    margin-bottom: 10px;
}

.nameInput {
    font-size: 24px;
    margin-bottom: 5px;
}

.descriptionInput {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    resize: vertical;
}

.joinDateInput {
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}

.saveButton {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.departmentMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.departmentMain button {
    margin: 0;
}

.departmentItem input {
    margin: 0;
}

.whiteLine {
    border-bottom: 3px solid white;
    margin-bottom: 30px;
}

.grayLine {
    border-bottom: 1px solid gray;
}

.table {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.col {
    width: 40%;
}

.field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}