
.container {
    color: #fff;
    background-color: #333;
    padding: 20px;
    width: 800px;
    margin: 40px 0;
  }
  
  .container h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .container p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .container h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  
  .container ul {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  
  .container button {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .container button:hover {
    background-color: #666;
  }

.centerButton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}