.tabs {
  width: 800px;
  min-height: 60vh;
}

.tabList {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tab {
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

.tab:hover {
  background-color: gray;
}

.active {
  background-color: #222;
  color: white;
}

.tabContent {
  padding: 20px;
  border: 1px solid lightgray;
}

.tabs button {
    border-radius: 0;
    font-size: 20px;
    font-weight: 500;
}