.employeeTab {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.departmentInfo h3 {
  margin-bottom: 10px;
}

.testHistory {
  margin-top: 20px;
}

.testHistory h3 {
  margin-bottom: 10px;
}

.testHistory ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.testHistory li {
  margin-bottom: 5px;
}

.takeTest {
  margin-top: 20px;
}

.takeTest h3 {
  margin-bottom: 10px;
}

.takeTest button {
  background-color: #fff;
  color: #333;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.takeTest button:hover {
  background-color: #ddd;
}